@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

:root {
  --transition: all 1s ease;
  --transition2: all 3s ease;

  --color-letter-primary:#6a4043;
  --color-letter-titles:#6c1b31;

  --color-background-primary: #282828;
  --color-background-secondary: #bdbdbd;

  --color-top-borders: #481722;
  --color-top-borders2: #6c1b31;
  --color-top-borders3: #96385b;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
img , picture, svg, video {
  display: block;
  max-width: 100%;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-weight: 500;
  max-width: 100%;
  padding: 0;
  color: var(--color-letter-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: calc(5rem + 2vmin);
  padding:0%;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
section{
  margin: auto;
  color: var(--color-top-borders2);
  font-size: calc(1.5rem + 2vmin);
  overflow: hidden;
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.btn {
  width: 11rem;
  display: inline-block;
  background-color: var(--color-top-borders);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: .1rem solid var(--color-letter-primary);
  margin-bottom: 1.5rem;
  transition: var(--transition);
  margin: auto;
  color: whitesmoke;
}
.btn:hover{
  transition: var(--transition);
  background-color: var(--color-letter-primary);
  color: var(--color-letter-titles);
  box-shadow: none;
  border: solid .1rem var(--color-letter-primary);
}
/* ===+===
  NAV
===+=== */
.nav_nav  {
  background-color: var(--color-top-borders);
  color: whitesmoke;
  display: grid;
  padding: 0.60rem auto;
  align-items: center;
  text-align: left;
  width: 100%;
  border-radius: 0;
  margin: auto;
  border-bottom: solid .2rem var(--color-top-borders2);
}
.title_nav{
 font-size: 4rem;
 margin: 1rem ;
}
.container_nav{
  overflow: hidden;
}
.container_navdos > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  left: 0;
  margin: auto;
}
.container_nav > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.ul_login {
  position: absolute;
  right: 5rem;
  margin: auto;
  width: min-content;
  display:block;
}
/* ===+===
  ABOUT
===+=== */
   .section_about {
    margin: 1rem;
    align-items: center;
    display: inline-flex;
  }
  .about_title {
    margin: auto;
    font-size: 5rem;
    align-content: center;
    padding: .5rem;
  }
  .about_details {
    margin: auto;
    float:left;
    position: static;
    color: var(--color-letter-primary);
  }
  .about_fotografia {
    height: auto;  
    width: 75rem;
    float: right;
    position:static;
    }
/* ===+===
  SPECIALS
===+=== */
.background_navspecials{
  font-size: 2rem;
  margin: auto;
  width: 45rem;
  height: auto;
  border-radius: 5px;
  overflow: auto;
}
.para_specials{
  margin: auto;
  font-style: italic;
  color: var(--color-letter-titles);
}
/* ===+===
  BUNDLE
===+=== */
.TESTCONT {
  display: flex;
  margin: auto;
}
.container_bundle{
  margin: 1rem;
  padding: 1.5rem;
  width: 120rem;
}
.title_bundle{
  padding: 1.5rem;
  margin: 0;
  font-size: calc(2.5rem + 2vmin);
}
.card{
  overflow: auto;
  background-color: var(--color-background-primary);
  margin: 4rem;
  border: .1rem solid transparent;
  border-radius: 5px;
  padding: .25rem;
  align-items: center;
  overflow-x: hidden;
}
.body_bundle{
  color: var(--color-letter-primary);
}
.card_img{
  max-width: max-content;
  margin: auto;
  height: 17rem;
  object-fit: cover;
}
.bundle_title{
  margin: auto;
  font-size: 1.5rem;
  color: var(--color-letter-titles);
}
.bundle_text{
  margin: 5rem auto;
  font-size: medium;
}
/* ===+===
 SCHEDULE
===+=== */
.section_schedule {
  margin: 1rem;
  align-items: center;
}
.section_header{
  font-size: calc(2.5rem + 2vmin);
  padding-bottom: 1.5rem;
}
/* ===+===
    FORM
   ===+=== */
.section_form{
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
}
.section_form > form{
  border: 1px solid transparent;
  padding: 1.5rem; 
}
form > label , input {
  width: 60%;
  margin: auto;
  margin-bottom: 0.5rem;
}
form > input {
  background: rgb(220,220,220);
}
/* ===+===
    FOOTER
   ===+=== */
.section_footer {
  text-align: center;
  background-color: var(--color-top-borders);
  width:100%;
  bottom:0;
  margin: auto;
  border-radius: 0;
  display: block;
}
/* ===+===
    MEDIA
   ===+=== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}