@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;
  --transition3: all 2ms ease;

  --color-letter-primary:#6a4043;
  --color-letter-titles:#6c1b31;

  --color-background-primary: #282828;
  --color-background-secondary: #696969;

  --color-top-borders: #481722;
  --color-top-borders2: #6c1b31;
  --color-top-borders3: #96385b;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
img , picture, svg, video {
  display: block;
  max-width: 100%;
}
body {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 500;
  max-width: 100%;
  background-color: var(--color-background-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
section{
  margin: auto;
  color: var(--color-top-borders2);
  background-color: var(--color-background-secondary);
  font-size: calc(12px + 2vmin);
  overflow: hidden;
  padding: 2rem;
  border-radius: .5rem;
}
.btn {
  width: 11rem;
  display: inline-block;
  background-color: var(--color-top-borders);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: .1rem solid var(--color-letter-primary);
  margin-bottom: 1.5rem;
  transition: var(--transition);
  margin: auto;
  color: whitesmoke;
}

.btn:hover{
  transition: var(--transition);
  background-color: var(--color-letter-primary);
  color: var(--color-letter-titles);
  box-shadow: none;
  border: solid .1rem var(--color-letter-primary);
}


/* ===+===
  NAV
===+=== */
.section_nav  {
  background-color: var(--color-top-borders);
  color: whitesmoke;
  display: grid;
  padding: 0.60rem auto;
  align-items: center;
  width: 100%;
  border-radius: 0;
  border-bottom: solid .2rem var(--color-top-borders2);
}
.title_nav{
 font-size: 4rem;
 margin: 1rem 2rem;
 text-align: center;
 width: fit-content;
}
.container_nav{
  overflow: hidden;
}
.container_navdos > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  left: 0;
  margin: auto;
}
.container_nav > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.ul_login {
  position: absolute;
  right: 5rem;
  margin: auto;
  width: min-content;
  display:block;
}

/* ===+===
  ABOUT
===+=== */
   .section_about {
    margin: 1rem;
    align-items: center;
    display: inline-flex;
  }
  .about_title {
    margin: auto;
    font-size: 5rem;
    align-content: center;
    padding: .5rem;
  }
  .about_details {
    margin: auto;
    float:left;
    position: static;
    color: var(--color-letter-primary);
  }
  .about_fotografia {
    height: auto;  
    width: 75rem;
    float: right;
    position:static;
    border: solid .1rem var(--color-top-borders);
    }

/* ===+===
  SPECIALS
===+=== */
.background_navspecials{
  font-size: 1rem;
  background-color: grey;
  margin: auto;
  width: fit-content;
  height: auto;
  border-radius: 5px;
  border: solid .1rem var(--color-top-borders);
  overflow: auto;
}
.background_navspecials img{
  border-bottom: solid .1rem var(--color-top-borders);
}
.para_specials{
  margin: auto;
  width: fit-content;
  font-style: italic;
  color: var(--color-letter-titles);
}
  /* ADD AN OR SECTION FOR RIGHT  */



/* ===+===
  BUNDLE
===+=== */
.container_bundle{
  background-color: var(--color-background-secondary);
  color: var(--color-letter-titles);
  display: grid;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
}
.body_bundle{
  color: var(--color-letter-primary);
  margin: auto;
  max-width: fit-content;
  display: inline-flex;
}
.title_bundle{
  margin: auto;
  padding: 1.5rem;
  font-size: calc(3rem + 2vmin);
}
.card_img{
  max-width: max-content;
  margin: auto;
  background-color: black;
  height: 250px;
}
.bundle_title{
  margin: auto;
  max-width: fit-content;
  color: var(--color-letter-titles);
  /* background-color: red; */
}
.bundle_text{
  margin: auto;
  max-width: fit-content;
  font-size: medium;
}


/* ===+===
 SCHEDULE
===+=== */
.section_schedule {
  width: auto;
  display:block;
  margin: 1rem;
  align-items: center;
}
.section_container{
  display: flex;
}
.section_schedule > h2{
  font-size: 5rem;
  margin: auto;
  max-width: fit-content;
}
.container_schedule {
  margin: auto;
  width: fit-content;
}
.react_calendar.calendar_section {
  margin: auto;
  background-color: red;
}

 

/* ===+===
    FORM
   ===+=== */
.section_form{
  /* position:fixed; */
  margin: 1.5rem auto;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  max-width: 35%;
  transition: var(--transition);
  
  /* background: url('../utils//images/formbackground.jpg'); */
}
.section_form > form{
  border: 1px solid transparent;
  padding: 1.5rem;
  transition: var(--transition);
  background-color: transparent;
  display: grid;
}
form > label , input {
  width: 60%;
  margin: auto;
  margin-bottom: 0.5rem;
  display: grid;
}

form > input {
  background: rgb(220,220,220);
}
.menu_dropdown{
}


/* ===+===
    FOOTER
   ===+=== */
.section_footer {
  text-align: center;
  position: fixed;
  background-color: var(--color-top-borders);
  width:100%;
  height:3.5rem;
  bottom:0;
  border-radius: 0;
  /* left:0; */
}



/* ===+===
    MEDIA
   ===+=== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.react-calendar {
  background-color: red;
  width: auto;
  margin: auto;
}

.react-calendar > .calendar_section {
  width:  max-content;
}
