/* 
GENERIC 
*/
.btn {
  width: 10rem;
  display: inline-block;
  background-color: var(--color-background-2);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 0.01rem solid var(--color-letter-2);
  transition: var(--transition);
  margin: 1.5rem auto;
  color: whitesmoke;
}

.btn:hover {
  transition: var(--transition);
  background-color: var(--color-background-3);
  box-shadow: none;
  border: solid 0.1rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

/* ===+===
  NAV
===+=== */
.list_links {
  display: flex;
  list-style: none;
  width: 100%;
  gap: 3rem;

}

.navz {
  margin: 6rem 2rem 5rem 0;
  list-style: none;
}

.nav-right {
  padding: 7px 7px;
  /* this is making it not set the way it's supposed to */
  margin: 1rem 0 0 5rem;
  text-decoration: none;
  border-radius: 4px;
  display:inline-flex;
  position: relative;
}

.social_media>a {
  color: var(--color-letter-3);
}

a:hover {
  color: rgb(163, 76, 14);
}

.logo {
  margin: auto;
  padding: auto;
  height: 4.5rem;
  width: 5rem;
  display: flex;
}

/* ===+===
    CHILDREN
   ===+=== */
.list_sites {
  display: center;
  padding: auto;
  margin: auto;
}

/* ===+===
    CARD
   ===+=== */
.Card_body {
  border-radius: 5px;
  border: 1px solid transparent;
  margin: auto;
  padding: 0.25rem;
  display: grid;
  justify-content: center;
  width: 20rem;
}

.Card_header {
  margin: auto;
  align-content: center;
  padding: auto;
  font-size: calc(0.5rem + 2vmin);
}

.Card_photo {
  margin: auto;
  width: 17rem;
  height: 15rem;
  object-fit: cover;
}

.bundle_title {
  margin: auto 3rem;
  font-size: 1rem;
  color: var(--color-letter-titles);
}

.Card_description {
  font-size: calc(0.1rem + 1.5vmin);
  margin: 3rem;
}

/* 
LISTA
 */

.display {
  margin-bottom: 10px;
  border: 0.1rem solid;
}

.display>h2 {
  margin: auto;
}

.content {
  display: flex;
}

.titulo {
  font-size: 3rem;
  /* color: var(--color-letter-primary); */
  color: var(--color-letter-secondary);
}

.read_more_left {
  position: absolute;
  left: 700px;
  padding: 0;
  font-size: 1.5rem;
  margin: 0;
}

.read_more_right {
  position: absolute;
  right: 700px;
  padding: 0;
  font-size: 1.5rem;
  margin: 0;
}

.parro {
  font-size: 1.5rem;
}

/* 
PACKAGES
*/
.package_section {
  margin: auto auto 1.5rem;
  width: auto;
  display: flex;
  gap: 3rem;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.package_header {
  font-size: 2rem;
}

.package_photo {
  height: auto;
  width: 21rem;
  border-radius: 15px;
  float: left;
}

.test_descript {
  float: right;
}

/*
SCHEDULER
*/

.scheduler_section {
  display: flex;
  max-width: 40%;
}

.scheduler_body {
  flex: 1;
  margin: auto 5rem;
  padding: 15px;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.scheduler_title {
  background-color: var(--color-background-1);
}

.schedule_confirmed {
  min-height: 200px;
  max-height: 250px;
  margin: auto;
  background-color: #f9f9f9;
}

.booked-day {
  background-color: red;
  color: white;
  pointer-events: none;
}

.time-available {
  background-color: #2ecc71;
  color: whitesmoke;
}

/* 
FORM
 */

/* ===+===
    FORM
   ===+=== */
.section_form {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: calc(1rem + 2vmin);
}

.form_title {
  font-size: calc(1.5rem + 2vmin);
  margin: auto;
  align-content: center;
  padding: 0.5rem;
}

form {
  border: 1px solid transparent;
  padding: 1.5rem;
}

form>label,
input,
textarea {
  width: 65%;
  margin: auto;
  margin-bottom: 0.25rem;
}

input {
  font-size: 16px;
}

select option:disabled {
  background-color: red;
  color: whitesmoke;
  cursor: not-allowed;
  font-style: italic;
  opacity: 1;
}

/* ===+===
    FORM SIGNUP
   ===+=== */

   .signup_form {
    display: grid;
    max-width: fit-content;
   }
/* ===+===
    FORM LOGIN
   ===+=== */

.login_Form {
  display: grid;
  max-width: fit-content;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login_Title {
  background-color: var(--color-background-1);
}

.login_Link {
  font-size: calc(0.1rem + 1.5vmin);
  font-style: italic;
  color: blue;
}

/* ===+===
  Contact
===+=== */
.section_contact {
  margin: 1rem;
  align-items: center;
  display: flex;
}

.contact_fotografia {
  height: auto;
  width: 40%;
  border-radius: 5px;
  float: left;
  display: flex;
  margin: auto 3rem;
}

/* ===+===
  ABOUT
===+=== */
.section_about {
  margin: auto;
  align-items: center;
  display: inline-flex;
}

.about_title {
  margin: auto;
  padding: auto;
  align-content: center;
  font-size: calc(2.5rem + 2vmin);
}

.about_details {
  margin: auto;
  color: var(--color-letter-primary);
  width: 35rem;
}

.about_fotografia {
  height: auto;
  width: 25rem;
  border-radius: 5px;
}

/* 
TESTIMONIALS
 */
.testimonial_section {
  margin: auto auto 5rem;
  display: flex;
  gap: 3rem;
}

.test_card {
  width: 24rem;
}

.test_header {
  font-size: 2rem;
}

.testimonial_port {
  height: auto;
  width: 4rem;
  border-radius: 70px;
  float: left;
}

.test_descript {
  float: right;
}

/* ===+===
    FOOTER
   ===+=== */
.section_footer {
  font-size: 1.5rem;
  display: inline-flexbox;
}

.footer_header {
  display: inline-flex;
}

.social_media {
  margin: auto;
  padding: 1rem;
  width: 24rem;
}

.footer_contact {
  display: grid;
  margin: auto;
}

.footer_hours {
  display: grid;
  margin: auto;
  padding: 1rem;
}

.social_icons {
  display: inline-flex;
  transition: var(--transition);
  margin: 20px;
  padding: auto;
  width: 25px;
  color: var(--color-letter-1);
}

.social_media>a:hover {
  transition: var(--transition);
  color: var(--color-top-borders2);
}