@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;
  --transition3: all 2ms ease;
  
  --color--primary : #4169e1;
}
body {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  flex-direction: column;
  /* max-width: 95rem; */
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
section{
  margin: auto;
  /* width: 112rem; */
  color: var(--color--primary);
  font-size: calc(12px + 2vmin);
  overflow: hidden;
}
.btn {
  width: max-content;
  display: inline-block;
  background-color: var(--color--primary);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-border-cyan);
  margin-bottom: 1.5rem;
  transition: var(--transition);
  margin: auto;
}

.btn:hover{
  transition: var(--transition);
  background-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: none;
  border: solid 1px var(--color-letter-primary);
}


/* ===+===
    NAV
   ===+=== */
.section_nav  {
  background-color: var(--color--primary);
  color: whitesmoke;
  display: grid;
  padding: 0.60rem auto;
  align-items: center;
  width: 100%;
}
.title_nav{
 font-size: 4rem;
 margin: 1rem 2rem;
 text-align: center;
 width: fit-content;
}
.container_nav{
  overflow: hidden;
}
.container_navdos > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  left: 0;
  margin: auto;
}
.container_nav > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.ul_nav{
  /* background-color: blueviolet; */
  margin: auto;
}
.ul_login {
  /* background-color: red; */
  position: absolute;
  right: 5rem;
  margin: auto;
  width: min-content;
  display:block;
}
.background_navspecials{
  font-size: 1rem;
  background-color: grey;
  margin: auto;
  width: fit-content;
  height: auto;
}
/* ADD AN OR SECTION FOR RIGHT  */



/* ===+===
    HOME
   ===+=== */
.section_home {
  margin: auto;
  width: fit-content;
}



/* ===+===
    ABOUT
   ===+=== */
   .section_about {
    margin: auto;
    width: fit-content;
  }
/* ===+===
    BUNDLE
   ===+=== */
   /* .section_bundle {
    margin: auto;
    width: fit-content;
  } */



/* ===+===
    SCHEDULE
   ===+=== */
.section_schedule {
  width: auto;
  margin: fit-content;
  display:block;
}
.section_container{
  display: flex;
}
.container_schedule {
  margin: auto;
  width: fit-content;
}
.react_calendar.calendar_section {
  margin: auto;
  background-color: red;
}

 

/* ===+===
    FORM
   ===+=== */
.section_form{
  /* position:fixed; */
  margin: 1.5rem auto;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  text-align: center;
  max-width: fit-content;
  transition: var(--transition);
}
.section_form > form{
  border: 1px solid transparent;
  padding: 1.5rem;
  transition: var(--transition);
  background-color: transparent;
  display: grid;
}
form > label , input {
  width: 60%;
  margin: auto;
  margin-bottom: 0.5rem;
  display: grid;
}

form > input {
  background: rgb(220,220,220);
}



/* ===+===
    FOOTER
   ===+=== */
.section_footer {
  text-align: center;
  position: fixed;
  background-color: var(--color--primary);
  width:100%;
  height:3.5rem;
  bottom:0;
  left:0;
}



/* ===+===
    BUNDLES
   ===+=== */
.section_bundle{
  margin: auto;
  width: fit-content;
}


/* ===+===
    MEDIA
   ===+=== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.react-calendar {
  background-color: red;
  width: auto;
  margin: auto;
}

.react-calendar > .calendar_section {
  width:  max-content;
}
