@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;
  --transition3: all 2ms ease;
  
  --color--primary : #4169e1;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  flex-direction: column;
  max-width: 95rem;
  height: 100%;

}
section{
  text-align: center;
  margin: auto;
  background-color: white;
  color: var(--color--primary);
  font-size: calc(12px + 2vmin);
  overflow: hidden;
}
.section_app {
  background-color: whitesmoke;
  color: white;
}

/* ===+===
    NAV
   ===+=== */

.section_nav  {
  background-color: var(--color--primary);
  color: whitesmoke;
}
.title_nav{
 font-size: 4rem;
 margin: 1rem 2rem;
 left:0;
 width: fit-content;
}
.list_nav > ul , a {
  display:inline-flex;
  list-style: none;
  gap: 2rem;
  font-size: 2rem;
  text-decoration: none;
  font-style: bold;
  color: white;
  left: 0;
}
.list_nav > .ul_login {
  right: 0;
  position: fixed;
}

/* ===+===
    SCHEDULE
   ===+=== */

.section_schedule {
  width: auto;
  margin: auto;
  display:block;
}
.container_schedule {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}
.react_calendar.calendar_section {
  margin: auto;
  background-color: red;
}

/* ===+===
    FOOTER
   ===+=== */

.section_footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color--primary);
}

/* ===+===
    MEDIA
   ===+=== */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}